:root {
  /* === Color del footer, estos no cambian al cambiar de modo === */
  --color-fondoTexto: #EEF5FF;
  --color-footer: rgb(32, 32, 32);
  --color-textoFooter: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--color-fondo);
  background-image: url(img/fondo.svg);
  background-size: 100%;
  overflow-x: hidden;
}

/* ======================= ESTILO DE LOS LINKS ==================== */
a{
  text-decoration: none;
  color: var(--color-texto);
}

/* ======================= MAIN ======================= */
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

