@import './base.css';

:root {
  /*  Colores base de la pagina (texto, iconos, fondo, header) 
  Estan comentados para que no haya problemas de carga con
  --color-texto: white;
  --color-icon: invert(100%);
  --color-fondo: #17171e;
  --color-header: #2B2D42;
  --color-oscuro1: #1B1B26;
  --color-sombraTexto: lightgrey;
  --color-principal1: #94c4ff;
  --color-principal2: #b2d7ff;
  --color-segundario: #8fd8ff;
  --color-segundario2: #ffffff;
  --color-tabla1: #68a4ec;
  --color-tabla2: #b7dbf4;

  /* === Colores al hacer hover === 
  --color-hoverBloque: #321212;
  --color-hoverBloqueDescargas: #321212;

  /* === Color del footer, estos no cambian al cambiar de modo === */
  --color-fondoTexto: #EEF5FF;
  --color-footer: rgb(32, 32, 32);
  --color-textoFooter: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  /* Evita el scroll horizontal y mantienen el nav stiky bien*/
}

body {
  background-color: var(--color-fondo);
  background-image: url(../img/fondo.svg);
  background-size: 100%;
}

/* ======================= ESTILO DE LOS LINKS ==================== */
#menuPlayer a,
#infoDescargas a,
.subMenu li a,
.textoMenu {
  text-decoration: none;
  color: var(--color-texto);
}

/* ======================= MAIN ======================= */
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* Esto sirve para que el main ocupe todo lo posible y se quede el footer abajo. No es necesario si siempre */
}

main h1 {
  color: var(--color-texto);
}

.negrita {
  font-weight: bold;
}

/* ======================= HEADER ======================= */
header {
  background-color: var(--color-header);
  height: 110px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
}

header h1 {
  font-size: 23px;
  letter-spacing: 3px;
  margin-left: 30px;
  color: var(--color-texto);
  text-shadow: 1px 1px var(--color-sombraTexto);
  font-family: "Staatliches", sans-serif;
}

header img {
  width: 80px;
}

/* ================== Icono cambio de modo ======================*/
#modoNoche {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modoNoche:hover {
  cursor: pointer;
}

#modoNoche img {
  width: 35px;
  filter: var(--color-icon);
  transition: transform 0.1s ease-out;
}

#modoNoche:hover img {
  transform: scale(0.85);
}



/* ======================= MENU PRINCIPAL DEL HEADER MODO MOVIL ======================= */
#menu1,
#menu2 {
  display: block;
  position: sticky;
  height: 40px;
  /* LA ALTURA FIJA HACE QUE NO SE MUEVA EL CONTENIDO DE LA PAGINA AL DESPLEGARSE LOS MENUS */
  top: 0;
  z-index: 10;
  background-color: var(--color-principal1);
  font-weight: bold;
  letter-spacing: 1.3px;
}

#menu2 {
  display: none;
}

#menu1 ul,
#menu1 li,
#buscador {
  list-style: none;
  /* Quitar estilos a las listas del menu*/
}

/* ===== BOTON DEL MENU ===== */
#botonMenu {
  width: 40px;
  cursor: pointer;
}

#botonMenu img {
  display: flex;
  /* Por alguna razon hacer que sea flex elimina que haya un espacio entre el nav y los menus al abrirse */
  width: 40px;
}

/* ===== MENU PRINCIPAL QUE SE DESPLIEGA Y SE MUESTRA ENTERO EN LA PANTALLAS GRANDES ===== */
#menuPrincipal {
  display: none;
}

#menuPrincipal2,
#menuPrincipal {
  background-color: var(--color-principal1);
}

.abrirMenu {
  height: 40px;
  border-top: 1px solid;
  box-sizing: border-box;
  display: flex;
}

.abrirMenu a {
  width: 100%;
}

/* ======================= SUBMENUS DEL NAV ======================= */
.subMenu {
  display: none;
  width: 100%;
  z-index: 20;
  position: absolute;
  left: 120px;
}

.subMenu li {
  height: 40px;
  display: flex;
  border-bottom: 1px solid var(--color-segundario2);
  background-color: var(--color-principal2);
}

.ajustarTamañoLetra {
  font-family: "Staatliches", sans-serif;
  font-size: 18px;
  letter-spacing: 0.8px;
}

.subMenu li a,
.textoMenu {
  padding-left: 10px;
  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
  font-weight: lighter;
  font-family: "Staatliches", sans-serif;
  font-size: 20px;
}

.subMenu li:last-child {
  border-radius: 0 0 10px 10px;
  border: none;
}

/* ======================= BARRA DE BUSCAR DEL NAV PRINCIPAL ======================= */
#barraBuscar {
  display: flex;
  flex-direction: row;
  border: none;
}

#search-input {
  width: 100%;
  height: 45px;
  padding-left: 10px;
  border: none;
}

#search-input:focus {
  outline: none;
}

.search-button {
  height: 45px;
  background-color: var(--color-principal1);
  border: none;
  border-top: 1px solid black;
}

.search-button img {
  width: 45px;
  height: 45px;
  padding: 5px;
}

/* ======================= TODOS LOS HOVER DEL NAV PRINCIPAL ======================= */
.abrirMenu:hover,
#botonMenu:hover,
.subMenu li:hover,
.search-button:hover {
  background-color: var(--color-segundario);
  cursor: pointer;
}

/* ======================= HEADER Y MENU PRINCIPAL TAMAÑO ESCRITORIO  ======================= */
@media screen and (min-width: 750px) {

  header h1 {
    font-size: 35px;
  }

  #menu1 {
    display: none;
  }

  #menu2 {
    display: block;
  }

  #menuPrincipal2 {
    display: flex;
  }

  .abrirMenu {
    height: 45px;
    flex: 1;
    border: none;
    border-left: 1px solid black;
  }

  .abrirMenu:first-child,
  .search-button {
    border: none;
  }

  .textoMenu {
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .subMenu {
    display: none;
    width: 260px;
    left: auto;
    top: 45px;
  }

  #buscador {
    flex: 2;
  }


}

/* ======================= SECTION DE BLOQUES DEL INDEX ======================= */
#menuPlayer {
  /* Margen con el header */
  margin-top: 50px;
}

/* ======================= CONTENIDO DEL SECTION MENU DEL INDEX ======================= 
Son 2 filas de 2 parejas de bloques cada uno que se acomodan segun el tamaño de la pagina */
.filaMenuPlayer,
.pareja {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.filaMenuPlayer {
  margin-bottom: 20px;
}

.pareja {
  width: calc(50%-20px);
}

/* ======================= BLOQUE INDIVIDUAL DEL MENU INDEX ======================= */
.bloque {
  padding: 10px;
  min-width: 205px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  background-color: var(--color-oscuro1);
  border: 1px solid var(--color-principal1);
  border-radius: 10px;
}

.bloque img {
  width: 110px;
  filter: var(--color-icon);
}

.bloque:hover img {
  width: 90px;
  transition: all 0.3s ease-out;
}

.bloque:hover .textoBloqueG,
.bloque:hover .textoBloque {
  transition: all 0.3s ease-out;
  font-weight: 500;
}

.bloque:hover .textoBloque {
  font-size: 40px;
}

.bloque:hover .textoBloqueG {
  font-size: 32px;
}

.bloque:hover,
#infoDescargas div:hover {
  background-color: var(--color-hoverBloque);
  border-color: var(--color-texto);
}

#infoDescargas div:hover {
  background-color: var(--color-segundario);
  border-color: var(--color-texto);
}

/* ======================= MODO MOVIL DEL SECTION MENU DEL INDEX ======================= 
solo cambia el tamaños de los bloques y el margen con el header*/
@media screen and (max-width: 500px) {

  #menuPlayer {
    margin-top: 10px;
  }

  .bloque {
    min-width: 150px;
    font-size: 20px;
  }

  .bloque img {
    width: 80px;
    margin-bottom: 10px;
  }

  .bloque:hover img {
    width: 70px;
    transition: all 0.4s ease-out;
  }

  .bloque:hover .textoBloque {
    font-size: larger;
  }

  .bloque:hover .textoBloqueG {
    font-size: 22px;
  }

}

/* ======================= SECCIÓN INFO ======================= */
#infoNosotros,
#bloqueInfo2 {
  width: 90%;
  margin-top: 50px;
  display: flex;
  align-self: center;
}

#infoNosotros {
  overflow: hidden;
}

#infoNosotros,
#infoDescargas,
#infoRedes {
  border-radius: 15px;
  background-color: var(--color-fondoTexto);
  border: 1px solid var(--color-principal1);
  box-shadow: 0px 0px 4px var(--color-principal1);
  color: var(--color-texto);
}

#imgInfoNosotros {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

#imgInfoNosotros img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
  transform: translateY(-20px);
}

.textoInfo {
  padding: 0 15px 15px 15px;
  font-size: 14px;
  text-align: justify;
}

.tituloInfo {
  margin: 10px;
  font-size: 18px;
}

/* ======================= ARTICLE REDES ======================= */
#infoRedes {
  display: flex;
}

#infoRedes a {
  margin: 45px 10px;
}

/* ======================= ARTICLE DESCARGAS ======================= */
#bloqueInfo2 {
  flex-direction: column;
  gap: 30px;
}

#infoDescargas div {
  border: 1px solid var(--color-principal1);
  background-color: var(--color-BloqueDescargas);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

/* ======================= SECTION PREGUNTAS FRECUENTES ======================= */
#infoFAQ {
  color: var(--color-texto);
  margin-top: 60px;
}

#FAQ h2 {
  padding: 10px;
}

#FAQ div {
  background-color: var(--color-oscuro1);
  border-bottom: 1px solid gray;
  padding: 10px;
  font-size: 13px;
}

/* ======================= DISEÑO RESPONSIVO DE LOS SECTION DE INFORMACION Y PREGUNTAS FRECUENTES ======================= */
@media screen and (min-width:600px) {

  #infoNosotros,
  #bloqueInfo2 {
    width: 80%;
  }

  #infoNosotros div {
    display: flex;
  }

  #textoInfoNosotros {
    width: 50%;
    flex-direction: column;
    font-size: 16px;
    line-height: 30px;
  }

  #imgInfoNosotros {
    width: 50%;
    height: 100%;
  }

  #imgInfoNosotros img {
    object-position: unset;
    transform: none;
  }

  #FAQ div {
    font-size: 15px;
  }
}

@media screen and (min-width:800px) {
  #bloqueInfo2 {
    flex-direction: row;
  }

  #infoDescargas {
    width: 60%;
  }
}

/* ======================= FOOTER ======================= */
footer {
  z-index: 100;
  background-color: var(--color-footer);
  color: var(--color-textoFooter);
}

#redes {
  display: flex;
  padding: 20px 0 0 20px;
}

#avisoLegal {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}